In [ ]:
#ANSWER 1

import numpy as np

# Coefficients of the equations
coefficients = np.array([[1, 1, 1],
                         [6, -4, 5],
                         [5, 2, 2]])

# Right-hand sides of the equations
rhs = np.array([2, 31, 13])

# Solve the system of equations
solution = np.linalg.solve(coefficients, rhs)

# Extracting the values of x, y, and z from the solution
x = solution[0]
y = solution[1]
z = solution[2]

print(f"x = {x:.2f}")
print(f"y = {y:.2f}")
print(f"z = {z:.2f}")

x = 3.00
y = -2.00
z = 1.00

In [ ]:
#ANSWER 2

# Create the initial employee dictionary
emp_dict = {
    1: {"Name": "ABC", "Education": "Graduate", "Gender": "Male"},
    2: {"Name": "DEF", "Education": "Postgraduate", "Gender": "Female"},
    3: {"Name": "GHI", "Education": "Postgraduate", "Gender": "Male"},
    4: {"Name": "JKL", "Education": "Graduate", "Gender": "Other"},
    5: {"Name": "MNO", "Education": "Graduate", "Gender": "Female"},
    6: {"Name": "PQR", "Education": "Postgraduate", "Gender": "Female"},
    7: {"Name": "STU", "Education": "Graduate", "Gender": "Male"}
}

# Age information to update
ages = [22, 27, 26, 23, 24, 30, 21]

# Update the employee dictionary with age information
for index, emp_id in enumerate(emp_dict.keys()):
    emp_dict[emp_id]["Age"] = ages[index]

# Print the updated employee dictionary
for emp_id, emp_info in emp_dict.items():
    print(f"Employee ID: {emp_id}")
    for key, value in emp_info.items():
        print(f"{key}: {value}")
    print()

Employee ID: 1
Name: ABC
Education: Graduate
Gender: Male
Age: 22

Employee ID: 2
Name: DEF
Education: Postgraduate
Gender: Female
Age: 27

Employee ID: 3
Name: GHI
Education: Postgraduate
Gender: Male
Age: 26

Employee ID: 4
Name: JKL
Education: Graduate
Gender: Other
Age: 23

Employee ID: 5
Name: MNO
Education: Graduate
Gender: Female
Age: 24

Employee ID: 6
Name: PQR
Education: Postgraduate
Gender: Female
Age: 30

Employee ID: 7
Name: STU
Education: Graduate
Gender: Male
Age: 21

In [ ]:
#ANSWER 3

import pandas as pd
import numpy as np

emp_df = pd.DataFrame.from_dict(emp_dict, orient='index')

# Adding the salary and bonus columns to the DataFrame
salary_lakhs = [6, 15, 20, 5, 10, 18, 12]
bonus_percent = [12.50, 8.75, 6.25, 10.20, 13.60, 11.40, 9.80]

emp_df['Salary_Lakhs'] = salary_lakhs
emp_df["Bonus%"] = bonus_percent

#Updating dataframe
new_rows = {
    8: {'Name': 'VWX', 'Education': 'Postgraduate', 'Gender': 'Male', 'Age': 35, 'Salary_Lakhs': 14, 'Bonus%': 5.50},
    9: {'Name': 'YZA', 'Education': 'Graduate', 'Gender': 'Female', 'Age': 28, 'Salary_Lakhs': 7, 'Bonus%': 7.75},
    10: {'Name': 'BCD', 'Education': 'Postgraduate', 'Gender': 'Other', 'Age': 32, 'Salary_Lakhs': 8, 'Bonus%': 14.80}
}

emp_df = emp_df.append(pd.DataFrame.from_dict(new_rows, orient='index'))

# Adding the 'Gross_Salary_Lakhs' column based on the formula
emp_df['Gross_Salary_Lakhs'] = emp_df['Salary_Lakhs'] * (1 + emp_df['Bonus%'] / 100)

# Display the DataFrame
print(emp_df)

   Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
1   ABC      Graduate    Male   22             6   12.50              6.7500
2   DEF  Postgraduate  Female   27            15    8.75             16.3125
3   GHI  Postgraduate    Male   26            20    6.25             21.2500
4   JKL      Graduate   Other   23             5   10.20              5.5100
5   MNO      Graduate  Female   24            10   13.60             11.3600
6   PQR  Postgraduate  Female   30            18   11.40             20.0520
7   STU      Graduate    Male   21            12    9.80             13.1760
8   VWX  Postgraduate    Male   35            14    5.50             14.7700
9   YZA      Graduate  Female   28             7    7.75              7.5425
10  BCD  Postgraduate   Other   32             8   14.80              9.1840

<ipython-input-22-85494ba0c086>:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emp_df = emp_df.append(pd.DataFrame.from_dict(new_rows, orient='index'))

In [ ]:
#ANSWER 4

# Creating a subset emp_df_ss
emp_df_ss = emp_df[['Name', 'Age', 'Gross_Salary_Lakhs']]

# Display the subset DataFrame emp_df_ss
print(emp_df_ss)

   Name  Age  Gross_Salary_Lakhs
1   ABC   22              6.7500
2   DEF   27             16.3125
3   GHI   26             21.2500
4   JKL   23              5.5100
5   MNO   24             11.3600
6   PQR   30             20.0520
7   STU   21             13.1760
8   VWX   35             14.7700
9   YZA   28              7.5425
10  BCD   32              9.1840

In [ ]:
#ANSWER 5
#5.1
# Creating a copy of emp_df and sorting by 'Age' in descending order
emp_df_age_sorted = emp_df.copy()
emp_df_age_sorted = emp_df_age_sorted.sort_values(by='Age', ascending=False)

# Display the sorted DataFrame emp_df_age_sorted
print(emp_df_age_sorted)

#5.2
# Creating a copy of emp_df and sorting by 'Age' and 'Gross_Salary_Lakhs'
emp_df_age_salary_sorted = emp_df.copy()
emp_df_age_salary_sorted = emp_df_age_salary_sorted.sort_values(by='Age', ascending=True)

# Display the sorted DataFrame emp_df_age_salary_sorted
print('\n')
print(emp_df_age_salary_sorted)
emp_df_age_salary_sorted = emp_df_age_salary_sorted.sort_values(by='Gross_Salary_Lakhs', ascending=False)

# Display the sorted DataFrame emp_df_age_salary_sorted
print('\n')
print(emp_df_age_salary_sorted)

   Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
8   VWX  Postgraduate    Male   35            14    5.50             14.7700
10  BCD  Postgraduate   Other   32             8   14.80              9.1840
6   PQR  Postgraduate  Female   30            18   11.40             20.0520
9   YZA      Graduate  Female   28             7    7.75              7.5425
2   DEF  Postgraduate  Female   27            15    8.75             16.3125
3   GHI  Postgraduate    Male   26            20    6.25             21.2500
5   MNO      Graduate  Female   24            10   13.60             11.3600
4   JKL      Graduate   Other   23             5   10.20              5.5100
1   ABC      Graduate    Male   22             6   12.50              6.7500
7   STU      Graduate    Male   21            12    9.80             13.1760


   Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
7   STU      Graduate    Male   21            12    9.80             13.1760
1   ABC      Graduate    Male   22             6   12.50              6.7500
4   JKL      Graduate   Other   23             5   10.20              5.5100
5   MNO      Graduate  Female   24            10   13.60             11.3600
3   GHI  Postgraduate    Male   26            20    6.25             21.2500
2   DEF  Postgraduate  Female   27            15    8.75             16.3125
9   YZA      Graduate  Female   28             7    7.75              7.5425
6   PQR  Postgraduate  Female   30            18   11.40             20.0520
10  BCD  Postgraduate   Other   32             8   14.80              9.1840
8   VWX  Postgraduate    Male   35            14    5.50             14.7700


   Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
3   GHI  Postgraduate    Male   26            20    6.25             21.2500
6   PQR  Postgraduate  Female   30            18   11.40             20.0520
2   DEF  Postgraduate  Female   27            15    8.75             16.3125
8   VWX  Postgraduate    Male   35            14    5.50             14.7700
7   STU      Graduate    Male   21            12    9.80             13.1760
5   MNO      Graduate  Female   24            10   13.60             11.3600
10  BCD  Postgraduate   Other   32             8   14.80              9.1840
9   YZA      Graduate  Female   28             7    7.75              7.5425
1   ABC      Graduate    Male   22             6   12.50              6.7500
4   JKL      Graduate   Other   23             5   10.20              5.5100

In [ ]:
#ANSWER 6

#6.1
# Filtering emp_df based on the condition
emp_df_filtered = emp_df[(emp_df['Age'] >= 25) & (emp_df['Gender'] == 'Female')]

# Display the filtered DataFrame emp_df_filtered
print(emp_df_filtered)

#6.2
# Creating subsets emp_df_grad and emp_df_postgrad
emp_df_grad = emp_df[emp_df['Education'] == 'Graduate']
emp_df_postgrad = emp_df[emp_df['Education'] == 'Postgraduate']

# Display the subsets
print("\nSubset of Graduates:")
print(emp_df_grad)

print("\nSubset of Postgraduates:")
print(emp_df_postgrad)

  Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
2  DEF  Postgraduate  Female   27            15    8.75             16.3125
6  PQR  Postgraduate  Female   30            18   11.40             20.0520
9  YZA      Graduate  Female   28             7    7.75              7.5425

Subset of Graduates:
  Name Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
1  ABC  Graduate    Male   22             6   12.50              6.7500
4  JKL  Graduate   Other   23             5   10.20              5.5100
5  MNO  Graduate  Female   24            10   13.60             11.3600
7  STU  Graduate    Male   21            12    9.80             13.1760
9  YZA  Graduate  Female   28             7    7.75              7.5425

Subset of Postgraduates:
   Name     Education  Gender  Age  Salary_Lakhs  Bonus%  Gross_Salary_Lakhs
2   DEF  Postgraduate  Female   27            15    8.75             16.3125
3   GHI  Postgraduate    Male   26            20    6.25             21.2500
6   PQR  Postgraduate  Female   30            18   11.40             20.0520
8   VWX  Postgraduate    Male   35            14    5.50             14.7700
10  BCD  Postgraduate   Other   32             8   14.80              9.1840

In [ ]:
#ANSWER 7

# Creating subsets emp_df_grad and emp_df_postgrad
emp_df_grad = emp_df[emp_df['Education'] == 'Graduate']
emp_df_postgrad = emp_df[emp_df['Education'] == 'Postgraduate']

# Merging the subsets based on 'Gender'
emp_df_merged = pd.merge(emp_df_grad[['Name', 'Gender', 'Age']], emp_df_postgrad[['Name', 'Gender', 'Gross_Salary_Lakhs']], on='Gender', how='inner')

# Display the merged DataFrame emp_df_merged
print(emp_df_merged)

  Name_x  Gender  Age Name_y  Gross_Salary_Lakhs
0    ABC    Male   22    GHI             21.2500
1    ABC    Male   22    VWX             14.7700
2    STU    Male   21    GHI             21.2500
3    STU    Male   21    VWX             14.7700
4    JKL   Other   23    BCD              9.1840
5    MNO  Female   24    DEF             16.3125
6    MNO  Female   24    PQR             20.0520
7    YZA  Female   28    DEF             16.3125
8    YZA  Female   28    PQR             20.0520

In [ ]:
#ANSWER 8
#8.1
# Grouping emp_df by 'Gender' and 'Education' and calculating the count of employees
emp_df_gen_edu = emp_df.groupby(['Gender', 'Education']).size().reset_index(name='Count')

# Display the grouped table emp_df_gen_edu
print(emp_df_gen_edu)

#8.2
# Grouping emp_df by 'Gender' and calculating the average of 'Age' and 'Gross_Salary_Lakhs'
emp_df_gen_age_sal = emp_df.groupby('Gender')['Age', 'Gross_Salary_Lakhs'].mean().reset_index()

# Display the grouped table emp_df_gen_age_sal
print("\n")
print(emp_df_gen_age_sal)

   Gender     Education  Count
0  Female      Graduate      2
1  Female  Postgraduate      2
2    Male      Graduate      2
3    Male  Postgraduate      2
4   Other      Graduate      1
5   Other  Postgraduate      1


   Gender    Age  Gross_Salary_Lakhs
0  Female  27.25            13.81675
1    Male  26.00            13.98650
2   Other  27.50             7.34700

<ipython-input-34-d1f15717752b>:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  emp_df_gen_age_sal = emp_df.groupby('Gender')['Age', 'Gross_Salary_Lakhs'].mean().reset_index()

In [ ]:
#ANSWER 9

import pandas as pd

# Create the Cross-Sectional DataFrame
data = {
    'Company': ['ZYX', 'WVU', 'TSR'],
    '2023': [123, 456, 789],
    '2024': [321, 654, 987]
}

df_cross_section = pd.DataFrame(data)

# Melt the Cross-Sectional DataFrame to long format
melted_df = pd.melt(df_cross_section, id_vars='Company', var_name='Year', value_name='Profit')

# Convert to a MultiIndex DataFrame
df_panel = melted_df.set_index(['Company', 'Year'])

# Display the resulting MultiIndex DataFrame (simulated panel data)
print(df_panel)

              Profit
Company Year
ZYX     2023     123
WVU     2023     456
TSR     2023     789
ZYX     2024     321
WVU     2024     654
TSR     2024     987